.explore__wallpaper {
    background: 
    /* linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),  */
    url('../assets/images/___hills____by_0l_fox_l0_db7z85j.jpg') no-repeat center center;
    background-size: cover;
    background-position: left bottom;
    /* background-attachment: fixed; */
}

.explore__wrapper {
    background: url('../assets/images/footer_img.jpg') top left;
    
    
}

.explore__blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}