.explore__wallpaper {
    background: 
    /* linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),  */
    url('../assets/images/explore_wallpaper.jpg') no-repeat center center;
    background-size: cover;
    background-position: left bottom;
    /* background-attachment: fixed; */
}

.explore__wrapper {
    background: url('../assets/images/footer_img.jpg') top left;
    
    
}

.explore__blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}


@media only screen and (max-width: 768px)  {
    .explore__blogs {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .explore__blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
} 