.login__section {
    background: url('../assets/images/Login_bg.jpg') center / cover;
}

.login__img {
    width: 50%;
    text-align: center;
}

.login__img img {
    width: 100%;
    object-fit: contain;
}


.login__container {
    height: 78vh;
    /* box-shadow: rgba(33, 146, 86, 0.15) 0px 48px 100px 0px; */
    margin: auto;
    overflow: hidden; 
    box-shadow: 0 7px 50px rgb(114, 255, 192);
    border-radius: 10px; 
    /* z-index: 99999; */
    background-color: #fff;

}

.login__header h2{
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}

.login__form {
    width: 50%;
    padding: 50px;
    /* background: var(--secondary-color); */
    background: #fff;
    position: relative;
}


.login__form input {
    width: 100%;
    padding: 0.5rem;
    border: none;
}

.login__form input:focus {
    outline: none;
}

.login__content {
    border-bottom: 1px solid var(--primary-color);
}

.login__content input {
    font-size: 1rem;
}

.login__icon {
    color: var(--text-color);
}

.forgotPassword {
    display: block;
    text-align: right;
    font-size: 0.8rem;
    transform: translateY(-0.75rem);
    color: var(--primary-color);
}

.auth__btn {
    background: var(--primary-color) !important;
    width: 100%;
}


.login__with {
    padding: 1.5rem;
}

.login__with span {
    font-size: 1rem;
}

.login__list a {
    font-size: 2rem;
    color: var(--primary-color) !important; 
}

.createAccount {
    font-size: 0.9rem;
}



@media only screen and (max-width: 768px) {
    .login__container {
        display: flex;
        flex-direction: column;
<<<<<<< HEAD
        height: 80%;
    }

=======
    }
>>>>>>> d1d804d5ac3c4fc8ef35b788bcb10982f7021885
    .login__img {
        display: none;
    }

    .login__form {
        width: 100%;
<<<<<<< HEAD
        padding: 2rem;
=======
        padding: 0 2rem;
>>>>>>> d1d804d5ac3c4fc8ef35b788bcb10982f7021885
    }
    
    .createAccount .createBtn{
        padding: 0.5rem 0.75rem !important;
    }
<<<<<<< HEAD

    .login__content input {
        font-size: 0.9rem;
    }
=======
>>>>>>> d1d804d5ac3c4fc8ef35b788bcb10982f7021885
}



@media screen and (min-width: 768px) and (max-width: 992px) {
    .login__img {
        display: block;
        width: 60%;
    }

    .login__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 55vh;
<<<<<<< HEAD
    }

    .login__form {
        padding: 4rem;
    }

    
    .login__content input {
        font-size: 0.9rem;
    }
} 
=======

    }

    .login__form {
        padding: 5rem;
    }

} 
>>>>>>> d1d804d5ac3c4fc8ef35b788bcb10982f7021885
