.rightbar {
    border-radius: .5rem;
    /* background-color: #dcffec; */
    background-color: #e9fff3;
}


.rightbar__wrapper {
    padding: 1rem;
    /* background-color: aqua; */
}


.rightbar__activity__item,
.rightbar__rank__item  {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.rightbar__activity__item img,
.rightbar__rank__item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 1rem;
}

.rightbar__img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.rightbar__activity__list p,
.rightbar__rank__list p {
    font-weight: 600;
    color: var(--highlight-color);
}