
  
.activities__img img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.activities__card .card {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding: 0;
}


.activities__img {
    position: relative;
}

.activities__img span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 10;
    background: var(--primary-color);
    color: #fff;
    padding: .3rem .5rem;
    border-radius: 3px 0 0 0;
}

.card__top span i {
    color: var(--secondary-color);
}

.activities__rating {
    font-size: 0.9rem;
    color: var(--text-color);
}

.activities__location {
    color: var(--heading-color);
    font-weight: 500;
    font-size: 0.9rem;
}

.activities__rating i,
.activities__location i {
    font-size: 1rem;
}

.activities__title {
    margin-top: 1rem;
    margin-bottom: 1.75rem;
    font-family: 'Leckerli One', cursive;
    cursor: pointer;
    text-align: center;
}

.activities__title a {
    text-decoration: none;
    color: var(--heading-color);
    transition: .3s;
}

.activities__title a:hover {
    color: var(--secondary-color);
}


.booking__btn {
    background: var(--secondary-color) !important;
    cursor: pointer;
    padding: 0.2rem 0.5rem !important;
}

.booking__btn a {
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
}

.booking__btn a:hover {
    color: #fff;
}


.activities__content {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.activities__info i {
    color: var(--primary-color);
}