.explore__img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.explore__body {
    display: flex;
    flex-direction: column;
}

.explore__title {
    margin-top: 1rem;
    cursor: pointer;
    font-family: 'Leckerli One', cursive;
    font-size: 1.25rem;

}

.explore__title a {
    text-decoration: none;
    color: var(--heading-color);
    transition: .3s;
}

.explore__title a:hover {
    color: var(--secondary-color);
}

.explore__desc {
    line-height: 1.6rem;
    /* Khi nội dung text dài quá thì rút ngắn dưới dạng ... */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* Hiện 6 dòng */
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.explore__date {
    text-align: right;
    font-size: 0.9rem;
}

.explore__content {
    display: flex;
    flex-direction: column;
}

.explore__content button {
    justify-self: flex-end;
}

