.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    z-index: 999999;
    background: center/cover url('../../assets/images/intro_bg.jpg');
    /* position: fixed; */
}


.logo img {
    width: 80px;
    /* Dịch ảnh lên 0.4rem */
    transform: translateY(-0.4rem);
}
.menu {
    margin-bottom: 0;
}

.nav__item {
    position: relative;

}

.nav__item a {
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1.1rem;
}

.nav__item a:hover {
    color: inherit;
}

.nav__item a.active__link {
    color: var(--secondary-color);
}

.mobile__menu {
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;
}

.sticky__header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: center/cover url('../../assets/images/intro_bg.jpg');
    position: sticky;
    top: 0; 
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 9999999;
    /* border-bottom: 1px solid var(--primary-color); */
}

/* ... */


.subnav {
    position: absolute;
    z-index: 9999999999999;
    width: 160px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-1rem);
    background-color: #dcfff1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0.96;
}
  
  .subnav li {
    line-height: 50px;
  }
  
  .subnav a {
    padding: 10px;
    color: #000;
    text-decoration: none;
  }
  

/* ================= */


@media only screen and (max-width: 768px)  {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(#ceeee283, #97eac283); */
        z-index: 222222;
        display: none;
    }

    .active__menu {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        /* background: #343444; */
        background: url('../../assets/images/intro_bg.jpg') bottom;
        z-index: 333333;
        flex-direction: column;
        padding-top: 40px;
    }

    .mobile__menu {
        display: block;
    }

    /* .btn {
        padding: 4px 25px !important;
    }

    .btn a {
        font-size: 0.7rem !important;
    } */
}



